<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <%-include('header.ejs')%>
  <div class="container">
      <div class="text-center" style="margin-top: 70px;">
          <h1>Vaša go-to aplikacija za online predavanja. Bilo gdje, bilo kad!</h1>
          <p>Iskoristite mogućnost live polls, Q&A, kvizova i još mnogo drugih opcija samo uz SLIDO!</p>
          <img src="/images/pozadina5.png" alt="pocetna-pozadina" class="img-fluid" style="width:80%;">
      </div>
  </div>

  </body>
</html>
