<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
      <script src="https://kit.fontawesome.com/82f797382f.js" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/forma.css' />
  </head>
  <body>
<form method="post" action="/register/novi-korisnik" class="login-box" autocomplete="on">
    <div class="title">
        <h1 id="naslov">KREIRAJTE RAČUN</h1>
    </div>
    <div class="input-box">
        <input type="text" name="ime" required class="input" id="ime" placeholder="Unesite Vase ime">
        <label for="ime"></label>
    </div>
    <div class="input-box">
        <input type="text" name="prezime" required class="input" id="prezime" placeholder="Unesite Vase prezime">
        <label for="prezime"></label>
    </div>
    <div class="input-box">
        <input type="text" name="email" required class="input" id="email" placeholder="Unesite Vas e-mail">
        <label for="email"></label>
    </div>
    <div class="input-box">
        <input type="password" name="sifra" required class="input pass-input" id="sifra" placeholder="Unesite Vasu sifru">
        <label for="sifra"></label>
    </div>
    <button type="submit">Kreiraj račun</button>
</form>
  </body>
</html>
